.item-detail {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  width: 60%;
  height: 80%;
}
